 html{
 font-family: "µ¸¿ò", sans-serif;
 }
  body{
    background-color : rgb(236,240,238);
  }

  #section-style{
    position : relative;
    background-color : white;
    width:1200px;
    left:11%;
    height:auto;
  }
